<h2>Actualizar Movie:</h2>

<form method="POST" action="/movies/{{oneMovie._id}}/edit">

<label for="title">Title</label>
<input type="text" name="title" value="{{oneMovie.title}}">

<label for="genre">Genre</label>
<input type="text" name="genre" value="{{oneMovie.genre}}">

<label for="plot">Plot</label>
<input type="text" name="plot" value="{{oneMovie.plot}}">

<label for="cast">Cast</label>
<select name="cast">
    {{#each allCast}}
    <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
</select>

<button class="btn btn-outline-info">Actualizar Movie</button>

</form>