<h2 class="margin">Actualizar Movie:</h2>

<form method="POST" action="/movies/{{oneMovie._id}}/edit">

<div class="form-group">
<label for="title">Title</label>
<input class="form-control" type="text" name="title" value="{{oneMovie.title}}">
</div>

<div class="form-group">
<label for="genre">Genre</label>
<input class="form-control" type="text" name="genre" value="{{oneMovie.genre}}">
</div>
<div class="form-group">
<label for="plot">Plot</label>
<input class="form-control" type="text" name="plot" value="{{oneMovie.plot}}">
</div>

<div class="form-group">
<label for="cast">Cast</label>
<select class="form-control" name="cast">
    {{#each allCast}}
    <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
</select>
</div>

<button class="btn btn-outline-info">Actualizar Movie</button>

</form>

