<h2>Datos de la película:</h2>


<div class="card" >
    <div class="card-header">
        <h4>Title: {{oneMovie.title}}</h4>
    </div>
    
    <div class="card-body">

        <p>Genre: {{oneMovie.genre}}</p>

        <p>Plot: {{oneMovie.plot}}</p>

        {{#each oneMovie.cast}}
        <p>Cast: {{this.name}}, {{this.occupation}}, {{this.catchPhrase}}</p>
        {{/each}}

        <a href="/movies/{{oneMovie._id}}/edit">
            <button class="btn btn-outline-warning">Actualizar Movie</button>
        </a>

        <form action="/movies/{{oneMovie._id}}/delete" method="POST">
            <button class="btn btn-outline-danger">Borrar Movie</button>
        </form>
    </div>
    
   

</div>